route:
  receiver: default-receiver
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h

receivers:
  - name: default-receiver
    webhook_configs:
      - url: http://host.docker.internal:5001/alert
        send_resolved: true
