global:
  scrape_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: keycloak
    metrics_path: /metrics
    static_configs:
      - targets: ["keycloak:8080"]

  - job_name: cadvisor
    static_configs:
      - targets: ["host.docker.internal:8089"]
